extends layout

block content
	h1= title
	form#fileUpload(method="post" action="/uploads" enctype="multipart/form-data")
		label(for="imageFiles") Select a file to upload:
		input#imageFiles(type="file" name="imageFiles" accept="image/*" multiple)
		br				
		div#selectedFiles
		br
		button#upload Upload
	div.loading
	form#fileUpload.form-inline(method="post" action="/uploads" enctype="multipart/form-data" role='form')
		.form-group
			input#imageFiles.form-control(type="file" name="imageFiles" accept="image/*" multiple)
		.form-group
			button#upload.btn.btn-primary(type='submit' disabled) Upload		
	div#alert
	div.well
		div#selectedFiles.imagepreviews.row
	script(src="/javascripts/uploadPreview.js")
