extends layout

block content
	div.containter
		div.col-xs-6.col-md-8
			div#map-canvas
		div.col-xs-4.col-md-4
			ul
			each file in files
				li.pull-left
					div.thumbnail
						img.points(src="/images/#{file.file}" data-file="#{file.file}" data-coords="#{file.coords}" width="100px" height="100px")
						div #{file.caption}