extends layout
block content
    div#map-canvas-route
    div#points-panel.panel.panel-default
        div.panel-heading Route Points
        ul#points-list.list-group
            for point in route.points
                li.list-group-item #{point}
        div.panel.panel-default
            div.panel-heading Directions
            ul#directions_panel