    html,
    body,
    #map-canvas {
        height: 100%;
        width: 90%;
        margin: 0px;
        padding: 0px
    }
    #points-panel {
        position: absolute;
        right: 1%;
        top: 2%;
        background: ghostwhite;
        width: 25%;
        padding: 10px;
    }
    #points-panel li span{
      margin-right: 5%;
    }