body {
    padding: 50px;
    font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
.navbar .btn {
    margin: 5px 5px 5px 0;
    float: right;
    border-radius: 3px 3px;
    border: 1px solid #000;
}
.navbar {
    padding-right: 1em;
}
footer {
    margin-top: 1em;
    position: absolute;
    bottom: 0;
}
#map-canvas {
    height: 1000px;
    width: 1000px;
    margin: 0;
    padding: 0;
}
li.pull-left {
    list-style: none;
}
